.card {
  box-sizing: border-box;
  width: $card-width;
  min-height: 406px;
  background-color: $color-white;
  padding: 0;

  border: 1px solid $color-border;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__image-container {
    margin-top: 32px;
    width: 160px;
    height: 134px;
    margin-left: auto;
    margin-right: auto;

    background-image: url('../images/imac.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  &__content {
    padding: 0 $card-padding-horizontal;
  }

  &__title {
    font-family: $font-family-base;
    font-weight: 500;
    font-size: 12px;
    margin: 40px 0 4px;
    line-height: 18px;
    color: $color-primary;
  }

  &__code {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #616070;
  }
  &__footer {
    padding: 0 $card-padding-horizontal $card-padding-horizontal;
    box-sizing: border-box;
  }

  &__price-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 166px;
    height: 18px;
    margin-bottom: 16px;

    box-sizing: border-box;
  }

  &__label {
    font-family: $font-family-base;
    font-weight: 400;
    font-size: 12px;
    color: $color-primary;
  }

  &__price {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #060b35;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 166px;
    height: 40px;
    margin: 0;
    border-radius: 4px;
    border: 1px solid $color-accent;
    background-color: $color-accent;

    font-family: $font-family-base;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: $color-white;

    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      background-color: $color-white;
      color: $color-accent;
    }
  }
}
